.nonAnimated {
  animation: none !important;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 576px;
  @media (max-width: 576px) {
    width: 100vw;
  }
  @keyframes appearance {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  animation: appearance 1s;

  .form {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    @media (max-width: 576px) {
      gap: 10px;
    }
    @media (max-width: 380px) {
      padding: 30px 10px;
    }

    .invalidSelect {
      border: 1px solid red;
    }

    .optionsContainer {
      display: flex;
      width: 100%;
      height: 50px;
      justify-content: space-between;

      .option {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
      }

      .selected {
        border: 2px solid aqua;
      }

      .invalid {
        border: 2px solid red;
      }
    }

    .splitContainer {
      display: flex;
      width: 100%;
      gap: 10%;
    }

    a {
      width: 100%;
    }

    h2 {
      font-weight: 600;
      &:hover {
        cursor: default;
      }
    }

    span {
      font-weight: 400;
      font-size: 20px;
      position: relative;
      text-align: left;
    }

    select {
      padding: 10px;
    }

    .lines {
      &::before {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background: lightgray;
        position: absolute;
        top: 14px;
        right: 60px;
      }
      &::after {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background: lightgray;
        position: absolute;
        bottom: 10px;
        left: 60px;
      }
    }

    .back {
      position: absolute;
      top: 30px;
      left: 30px;
      &:hover {
        cursor: pointer;
      }
    }

    .button {
      position: relative;
      width: 100%;
    }

    .disabledLink {
      pointer-events: none;
    }
  }
}
