.authPage {
  padding: 20px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/background.png");
  background-size: cover;
  flex-direction: column;
  gap: 50px;

  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @keyframes appearance {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: appearance 1s;

    .form {
      a {
        width: 100%;
      }

      h2 {
        font-weight: 600;
        &:hover {
          cursor: default;
        }
      }

      span {
        font-weight: 400;
        font-size: 20px;
        position: relative;
      }

      textarea {
        resize: none;
      }

      .lines {
        &::before {
          content: "";
          display: block;
          width: 170px;
          height: 2px;
          background: lightgray;
          position: absolute;
          top: 14px;
          right: 60px;
        }
        &::after {
          content: "";
          display: block;
          width: 170px;
          height: 2px;
          background: lightgray;
          position: absolute;
          bottom: 10px;
          left: 60px;
        }
      }

      .disabledLink {
        pointer-events: none;
      }
    }
  }
}
