.authPage {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  padding: 20px 0;
  background-image: url("../../../assets/background.png");
  background-size: cover;

  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @keyframes appearance {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: appearance 1s;

    .form {
      a {
        width: 100%;
      }

      h2 {
        font-weight: 600;

        &:hover {
          cursor: default;
        }
      }

      span {
        position: relative;

        font-weight: 400;
        font-size: 20px;
      }

      textarea {
        resize: none;
      }

      .lines {
        &::before {
          width: 170px;
          height: 2px;

          position: absolute;
          top: 14px;
          right: 60px;

          content: "";
          display: block;
          background: lightgray;
        }
        &::after {
          width: 170px;
          height: 2px;

          position: absolute;
          bottom: 10px;
          left: 60px;

          content: "";
          display: block;
          background: lightgray;
        }
      }

      .disabledLink {
        pointer-events: none;
      }
    }
  }
}
