.feed {
  width: 768px;
  margin: 0 auto;
  padding: 70px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  .loader {
    @keyframes loader {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    animation: loader 1s infinite;
    margin: 0 auto;
  }

  .feedMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addBtn {
    width: 20%;
  }

  .sortDropdown {
    background: none;
    width: 20%;
    height: 50px;
    text-align: center;
    background-color: #1877f2;
    border: 1px solid darkblue;
    font-weight: bolder;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    option {
      background-color: white;
      color: black;
    }
  }
}

.text {
  text-align: center;
}

.skeletonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .skeleton {
    box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
    outline: 1px solid lightgray;
  }
}
