.feed {
  min-height: calc(100vh - 60px);
  max-width: 768px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;

  margin: 0 auto;
  padding: 70px 0 0;
  background: rgba(0, 0, 0, 0);

  @media (max-width: 992px) {
    padding: 70px 20px 0 20px;
  }

  @media (max-width: 400px) {
    padding: 55px 5px 0 5px;
  }

  .loader {
    margin: 0 auto;

    @keyframes loader {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    animation: loader 1s infinite;
  }

  .feedMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addBtn {
    width: 20%;

    @media (max-width: 768px) {
      width: 30%;
    }

    @media (max-width: 576px) {
      gap: 10px;
    }

    @media (max-width: 420px) {
      font-size: 0.8rem;
    }
  }

  .sortDropdown {
    width: 20%;
    height: 50px;

    background: none;
    text-align: center;
    background-color: #1877f2;
    font-weight: bolder;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @media (max-width: 768px) {
      width: 30%;
    }

    @media (max-width: 450px) {
      font-size: 0.8rem;
    }

    @media (max-width: 360px) {
      font-size: 0.7rem;
    }

    &::-ms-expand {
      display: none;
    }

    option {
      background-color: white;
      color: black;

      @media (max-width: 340px) {
        font-size: 0.625rem;
      }
    }
  }
}

.text {
  text-align: center;
}

.skeletonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .skeleton {
    height: 284px;

    box-shadow: 2px 2px 5px rgb(0 0 0 / 10%);
    outline: 1px solid lightgray;
  }
}
