.loader {
  position: absolute;
  top: 30%;
  right: 35%;
  border: 3px dotted white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation: spin 1s infinite;
}
