.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .dot1 {
    margin-left: 2px;

    @keyframes dot1-bounce {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-2px);
        opacity: 0.5;
      }
    }
    animation: dot1-bounce 1s infinite;
  }

  .dot2 {
    @keyframes dot2-bounce {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-2px);
        opacity: 0.5;
      }
    }
    animation: dot2-bounce 1s infinite;
    animation-delay: 0.2s;
  }

  .dot3 {
    @keyframes dot3-bounce {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-2px);
        opacity: 0.5;
      }
    }
    animation: dot3-bounce 1s infinite;
    animation-delay: 0.4s;
  }
}
