.lines {
  text-align: center !important;

  &::before {
    width: 170px;
    height: 2px;

    position: absolute;
    top: 15px;
    right: 0;

    content: "";
    display: block;
    background: lightgray;

    @media (max-width: 576px) {
      width: 135px;
    }
  }

  &::after {
    width: 170px;
    height: 2px;

    position: absolute;
    bottom: 10px;

    content: "";
    display: block;
    background: lightgray;

    @media (max-width: 576px) {
      width: 135px;
    }
  }
}

.disabledLink {
  pointer-events: none;
}

.text {
  text-align: center !important;
}
