.lines {
  text-align: center !important;
  &::before {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: lightgray;
    position: absolute;
    top: 15px;
    right: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: lightgray;
    position: absolute;
    bottom: 10px;
  }
}

.text {
  text-align: center !important;
}
