.other {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.optionsContainer {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px !important;
    font-weight: bold !important;
  }

  .selected {
    border: 2px solid aqua;
  }

  .invalid {
    border: 2px solid red;
  }
}

.invalidSelect {
  border: 1px solid red;
}
