.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .commentContent {
    display: flex;
    gap: 10px;

    .userAvatar {
      border-radius: 50%;
    }

    .darkMode.commentInfo {
      border: 1px solid gray;
    }

    .commentInfo {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 10px;

      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 2px;

      .commentHeader {
        .commentAuthor {
          font-weight: bold;
        }
      }
    }
  }
  .votesContainer {
    display: flex;
    justify-content: space-between;

    padding: 0 15px;
  }
}
