.login {
  text-align: center;
  width: 440px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}
