.authPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/background.png");
  background-size: cover;
  flex-direction: column;
  gap: 50px;

  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @keyframes appearance {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: appearance 1s;

    .form {
      text-align: center;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;

      .splitContainer {
        display: flex;
        width: 100%;
        gap: 10%;
      }

      a {
        width: 100%;
      }

      h2 {
        font-weight: 600;
        &:hover {
          cursor: default;
        }
      }

      span {
        font-weight: 400;
        font-size: 20px;
        position: relative;
      }

      textarea {
        resize: none;
      }

      .lines {
        &::before {
          content: "";
          display: block;
          width: 170px;
          height: 2px;
          background: lightgray;
          position: absolute;
          top: 14px;
          right: 60px;
        }
        &::after {
          content: "";
          display: block;
          width: 170px;
          height: 2px;
          background: lightgray;
          position: absolute;
          bottom: 10px;
          left: 60px;
        }
      }

      .button {
        position: relative;
        width: 100%;
      }

      .disabledLink {
        pointer-events: none;
      }
    }
  }
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  &:hover {
    cursor: pointer;
  }
}
