@import "../../scss/utils.module.scss";

.textAreaContainer {
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .focused {
    border: 2px solid lightblue !important;
  }

  .invalid {
    border: 2px solid red !important;
  }

  .textareaError {
    height: 70px;

    top: 67px;
  }

  .darkMode.pseudoTextarea {
    border: 1px solid gray;
  }

  .pseudoTextarea {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;

    border: 2px solid lightgray;

    .textarea.darkMode {
      @extend %darkMode;
    }

    .textarea {
      height: 100%;
      width: 100%;

      resize: none;
      border: none;
      font-size: 15px;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }

    svg {
      margin: 0 9px 3px 0;
      cursor: pointer;
    }
  }
}

.desc {
  width: 100%;

  resize: none;
}

.descLabel {
  text-align: left;
}
