.post {
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  outline: 1px solid lightgray;
  justify-content: space-between;

  .postInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;

    p {
      .showMore {
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .voteContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 30px;

    .voteBtn {
      height: 30px;
      width: 30px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .votesQty {
      font-size: 20px;
      transform: translateY(2.5px);
    }
  }

  .postSidebar {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .moreOptionsContainer {
      position: relative;
      .threeDots {
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.4s ease-in-out;
        &:hover {
          background-color: lightgray;
        }
        &:active {
          background-color: darkgray;
        }
      }
    }

    .other {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      font-weight: bold;
    }
  }
}
