* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

hr {
  width: 100%;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transition: color, background-color 0.2s ease-in-out;
}

.darkMode {
  color: rgba(245, 245, 245, 0.8);
  background-color: black;
  border-color: gray;
  outline-color: gray;
}
