.overlay {
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 202, 202, 0.679);
  z-index: 5;
  position: fixed;
}
