@import "../../scss/utils.module.scss";

.mainContainer.darkMode {
  @extend %darkMode;
}

.mainContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  label {
    text-align: start;
    transform: translate(10px, 35px);
    transition: transform 0.2s;
    z-index: 1;

    &:hover {
      cursor: text;
    }
  }

  .active {
    transform: translate(0) !important;

    &:hover {
      cursor: default;
    }
  }

  .inputContainer {
    width: 100%;

    display: flex;

    position: relative;

    .warningIconDefaultInput {
      position: absolute !important;
      left: 93%;
      top: 34%;

      z-index: 2;
      cursor: pointer;

      @media (max-width: 1080px) {
        cursor: default;
      }
    }

    .warningIconSplitInput {
      position: absolute !important;
      left: 85%;
      top: 34%;

      z-index: 2;
      cursor: pointer;

      @media (max-width: 1080px) {
        cursor: default;
      }
    }

    .input.darkMode {
      @extend %darkMode;
    }

    .input {
      width: 100%;
      height: 50px;

      font-size: 17px;
      padding: 10px;
      border-radius: 3px;
      border: none;
      border-bottom: 3px solid lightgray;

      &:focus {
        outline: none;
      }
    }

    .invalid {
      border-bottom: 3px solid red;
    }

    .focused {
      border-bottom: 2px solid lightblue;
    }
  }
}
