.input {
  width: 364px;
  height: 50px;
  border: 1px solid lightgray;
  font-size: 17px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  &:focus {
    outline: none;
  }
}

.split {
  width: 47.5%;
}

.invalid {
  border: 1px solid red;
}
