.darkMode.moreOptionsMenu {
  background-color: black;
  box-shadow: none;
  border: 1px solid gray;
}

.moreOptionsMenu {
  width: 150px;

  position: absolute;
  right: 0;
  top: 0;

  background-color: white;
  box-shadow: lightgray 2px 2px 15px;
  transition: color, background-color 0.2s ease-in-out;

  a {
    &:visited {
      color: black;
    }
  }

  .option {
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;

    span {
      transition: color, background-color 0.2s ease-in-out;
    }

    span.darkMode {
      color: rgba(245, 245, 245, 0.8);
    }

    svg {
      transition: color, background-color 0.2s ease-in-out;
    }

    svg.darkMode {
      color: rgba(245, 245, 245, 0.8);
    }
  }
}
