.formError {
  width: 100%;
  background-color: red;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-shadow: 2px 2px 5px black;
  color: white;
}
