.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @keyframes appearance {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  animation: appearance 1s;

  .authForm {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
      width: 100%;
    }

    h2 {
      font-weight: 600;
      &:hover {
        cursor: default;
      }
    }

    span {
      font-weight: 400;
      font-size: 20px;
    }

    .button {
      position: relative;
      width: 100%;
    }

    .disabledLink {
      pointer-events: none;
    }
  }
}
