.formMessage {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-shadow: 2px 2px 5px black;
  color: white;
}

.red {
  background-color: rgb(251, 159, 159);
}

.green {
  background-color: rgb(80, 203, 80);
}
