@import "../../scss/utils.module.scss";

.other {
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsContainer {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 470px) {
    height: 35px;
  }

  .option.darkMode {
    @extend %darkMode;
  }

  .option {
    height: 100%;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    cursor: pointer;

    @media (max-width: 576px) {
      font-size: 10px;
    }
    @media (max-width: 470px) {
      width: 35px;
    }
  }

  .selected {
    border: 2px solid aqua;
  }

  .invalid {
    border: 2px solid red;
  }
}

.invalidSelect {
  border: 1px solid red;
}
